*{
	box-sizing: border-box; /* width  = content + padding + Border */
}

body{
  margin : 0;
  background-color: #d5e1ef;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card{
  background-color: white;
  width: 320px;
  height: 497px;
  padding: 1rem;
  border-radius: 0.5rem;
}

img{
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

h2, p {
  font-family: "Outfit";
  text-align: center;
  padding: 0.5rem 0.5rem 0rem ;
}

p{
  color: hsl(220, 15%, 55%);
}
